&trackball_peripheral_listener {
    compatible = "zmk,input-listener";
    scroller {
        layers = <7>;
    }
    device = <&trackball_peripheral_split>;
};

//left hand trackball
&trackball_central_listener {
    compatible = "zmk,input-listener";
    scroller {
        layers = <7>;
    }
};