&zip_central_ball {
    cursor {
        label = "Cursor";
        input-processors
            = <&zip_xy_transform (INPUT_TRANSFORM_X_INVERT | INPUT_TRANSFORM_Y_INVERT)>
            , <&mouse_temp_layer 6 1000>
            , <&zip_report_rate_limit 4>;
    };
}; 