&zip_central_ball {
    cursor {
        label = "Cursor";
        input-processors
            = <&zip_xy_transform (INPUT_TRANSFORM_X_INVERT | INPUT_TRANSFORM_Y_INVERT)>
            , <&zip_temp_layer 6 1000>
            , <&zip_report_rate_limit 4>;
    };

    scroll_up {
        label = "Scroll Up";
        input-processors
            = <&zip_xy_transform (INPUT_TRANSFORM_X_INVERT | INPUT_TRANSFORM_Y_INVERT)>
            , <&zip_xy_to_scroll_mapper>
            , <&zip_scroll_scaler 1 16>
            , <&zip_report_rate_limit 16>;
    };

    scroll_down {
        label = "Scroll Down";
        //layers = <7>;
        input-processors
            = <&zip_xy_transform (INPUT_TRANSFORM_X_INVERT)>
            , <&zip_xy_to_scroll_mapper>
            , <&zip_scroll_scaler 1 16>
            , <&zip_report_rate_limit 16>;
    };  
};